name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build master
      run: cargo build --features master
    - name: build slave
      run: cargo build --features slave
    - name: build master suite
      run: |
        cd master
        cargo build --all-targets
    # no build for slave toolchain because requires esp32 specific toolchain
